@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-blue: #6246ea;
    --color-black: #2b2c34;
    --color-white: #fffffe;
    --color-dark-gray: #9a9494;
    --color-gray: #c0c0c0;
    --color-light-gray1: #eff0f3;
    --color-light-gray2: #e4e5e9;
  }
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #eff0f3;
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: var(--color-gray); /* Color of the track */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--color-blue); /* Color of the thumb */
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue); /* Color of the thumb on hover */
}

::selection {
  background: var(--color-black); /* Background color of the selected text */
  color: var(--color-blue); /* Text color of the selected text */
}

/* For Firefox */
::-moz-selection {
  background: var(--color-black);
  color: var(--color-blue);
}

/* For Safari and Chrome */
::-webkit-selection {
  background: var(--color-black);
  color: var(--color-blue);
}

.go3958317564 {
  white-space: nowrap!important;
}